@import url('reset.css');

@import url('https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap');

@import url('swiper-bundle.min.css');

body {
	background-color: #0d0d11;
	color: #9c9c9c;
	font-family: 'Poppins';
	font-weight: 300;
	transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: clip;
}
/*-----------------------------*/
[class*='__container'] {
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 15px;
}
/*-----------------------------*/
.page {
	flex: 1 1 auto;
}
.page__main {
}
.page__clients {
}
.page__services {
}
.page__why {
}
.page__advantages {
}
.page__testimonials {
}
.page__blog {
}
.page__start {
	margin-bottom: 100px;
}
@media (max-width: 991.98px) {
	.page__start {
		margin-bottom: 50px;
	}
}
/*-----------------------------*/
/*-----------------------------*/
.button {
	display: inline-block;
	text-align: center;
	padding: 16px 30px;
	background-color: #3d96f4;
	border-radius: 50px;
	color: #fff;
	letter-spacing: 2px;
	font-size: 14px;
	font-weight: 500;
	transition: background-color 0.3s ease 0s;
	line-height: 1.43; /* 22/14 */
}
.button--dark {
	background: rgba(129, 129, 139, 0.2);
}
html.light .button--dark {
	background: rgba(129, 129, 139, 0.4);
	color: rgba(13, 13, 17, 0.8);
}
@media (max-width: 991.98px) {
	.button {
		padding: 14px 20px;
	}
}
@media (max-width: 767.98px) {
	.button {
		padding: 10px 15px;
		letter-spacing: 1px;
		font-size: 13px;
	}
}
.button:hover {
	background-color: #ff4800;
}
.button--dark:hover {
	background-color: #ff4800;
} 
html.light .button--dark:hover {
	background-color: #ff4800;
}
.header-main {
}
.header-main__label {
	display: inline-block;
	border-radius: 12px;
	border: 1px solid rgba(129, 129, 139, 0.2);
	letter-spacing: 2px;
	color: #9c9c9c;
	font-size: 11px;
	padding: 11px 18px;
	line-height: 2; /* 22/11 */
	text-transform: uppercase;
	transition: border 0.3s ease 0s;
}
html.light .header-main__label {
	border: 1px solid rgba(129, 129, 139, 0.5);
	color: #000;
}
.header-main__label:hover {
	border: 1px solid #ff4800;
}
html.light .header-main__label:hover {
	border: 1px solid #ff4800;
}
.header-main__label:not(:last-child) {
	margin-bottom: 19px;
}
.header-main__title {
	font-size: 51px;
	font-weight: 500;
	line-height: 1.2; /* 61/51 */
	color: #fff;
	position: relative;

	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.header-main__title._active {
	transform: translate(0px, 0px);
	opacity: 1;
}
html.light .header-main__title {
	color: rgba(13, 13, 17, 0.8);
}
.header-main__title:not(:last-child) {
	margin-bottom: 28px;
}

.header-main__text {
	line-height: 1.5; /* 24/16 */
	font-size: 18px;
	color: #9c9c9c;

	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.header-main__text._active {
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 0.8s ease 0.4s;
}
html.light .header-main__text {
	color: rgba(13, 13, 17, 0.8);
}
.header-main__text:not(:last-child) {
	margin-bottom: 28px;
}
.header-main__body {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.header-main__body .header-main__text {
	margin: 0;
}
.header-main__body .header-main__actions {
	align-self: flex-end;
	flex: 0 0 auto;
}
.header-main__body .header-main__title {
	max-width: none;
}
.header-main__body .header-main__text {
	max-width: 740px;
}
.header-main__actions {
	display: flex;
	column-gap: 32px;
	row-gap: 15px;
}
.header-main__button {
}
.header-main__list {
}
.header-main__list li {
	position: relative;
	min-height: 32px;
	padding-left: 40px;
	padding-top: 4px;
	color: #9c9c9c;
	line-height: 1.5; /* 24/16 */

	transform: translate(120%, 0);
	opacity: 0;
	transition: all 0.3s ease 0s;
}
.header-main__list._active li:nth-child(1) {
	transition: all 0.8s ease 0.4s;
}
.header-main__list._active li:nth-child(2) {
	transition: all 0.8s ease 0.8s;
}
.header-main__list._active li:nth-child(3) {
	transition: all 0.8s ease 1.2s;
}
.header-main__list._active li:nth-child(4) {
	transition: all 0.8s ease 1.6s;
}
.header-main__list._active li:nth-child(5) {
	transition: all 0.8s ease 1.6s;
}
.header-main__list._active li {
	opacity: 1;
	transform: translate(0, 0);
}
html.light .header-main__list li {
	color: rgba(13, 13, 17, 0.8);
}
.header-main__list li:not(:last-child) {
	margin-bottom: 16px;
}
.header-main__list li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: rgba(129, 129, 139, 0.1) url('../img/li.svg') center no-repeat;
}
@media (max-width: 991.98px) {
	.header-main__title {
		font-size: 44px;
	}
}
@media (min-width: 768px) {
	.header-main__title {
		max-width: 520px;
	}
	.header-main__text {
		max-width: 500px;
	}
}
@media (max-width: 767.98px) {
	.header-main__title {
		font-size: 32px;
	}
	.header-main__title:not(:last-child) {
		margin-bottom: 15px;
	}
	.header-main__text:not(:last-child) {
		margin-bottom: 15px;
	}
	.header-main__body {
		flex-direction: column;
		gap: 0;
	}
	.header-main__body .header-main__actions {
		align-self: flex-start;
	}
}
@media (max-width: 479.98px) {
	.header-main__actions {
		flex-direction: column;
	}
}
/*-----------------------------*/
.text {
	color: #81818b;
	line-height: 1.5; /* 24/16 */
}
html.light .text {
	color: rgba(13, 13, 17, 0.8);
}
/*-----------------------------*/
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: rgba(13, 13, 17, 0.8);
}
.header__container {
	display: flex;
	column-gap: 35px;
	align-items: center;
	min-height: 116px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.header__logo {
}
.header__menu {
	flex: 1 1 auto;
}
.menu {
}
.menu__body {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 35px;
	row-gap: 3px;
	justify-content: flex-end;
}
.menu__item {
}
.menu__link {
	display: block;
	line-height: 1.62; /* 26/16 */
	color: #fff;
}
.menu__link:hover {
	color: #ff4800;
	text-decoration: underline;
}
.header__cart {
}
.cart-header {
	color: #fff;
	display: flex;
	align-items: center;
	gap: 5px;
}
.cart-header__text {
	font-size: 18px;
	line-height: 1.55; /* 28/18 */
}
.cart-header__text:hover {
	color: #ff4800;
	text-decoration: underline;
}
.cart-header__quantity {
	background: rgba(129, 129, 139, 0.3);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
}
.header__button {
	flex: 0 0 auto;
}
.icon-menu {
	display: none;
}

.header__logo,
.header__cart,
.header__button,
.header__theme {
	position: relative;
	z-index: 5;
}
@media (max-width: 991.98px) {
	.header__container,
	.menu__list {
		column-gap: 25px;
	}
	.header__container {
		min-height: 90px;
	}
}
/*--BURGER MENU--*/
@media (max-width: 767.98px) {
	.header__container,
	.menu__list {
		column-gap: 15px;
	}
	.icon-menu {
		display: block;
		flex: 0 0 30px;
		height: 18px;
		cursor: pointer;
		position: relative;
		z-index: 5;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: '';
		position: absolute;
		right: 0;
		width: 100%;
		height: 2px;
		background-color: #fff;
		transition: all 0.3s ease 0s;
	}
	.icon-menu::before {
		top: 0px;
	}
	.icon-menu::after {
		bottom: 0px;
	}
	.icon-menu span {
		top: calc(50% - 1px);
	}
	.menu-opened .icon-menu span {
		width: 0;
	}
	.menu-opened .icon-menu::before {
		top: calc(50% - 1px);
		transform: rotate(-45deg);
	}
	.menu-opened .icon-menu::after {
		bottom: calc(50% - 1px);
		transform: rotate(45deg);
	}
	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #000;
		left: -100%;
		top: 0;
		padding: 100px 15px 30px 15px;
		overflow: auto;
		transition: left 0.3s ease 0s;
	}
	html.light .menu__body {
		background-color: #f8f8f8;
	}
	.menu__body::before {
		content: '';
		position: fixed;
		width: 100%;
		height: 70px;
		background-color: #000;
		left: -100%;
		top: 0;
		z-index: 2;
		transition: left 0.3s ease 0s;
	}
	html.light .menu__body::before {
		background-color: rgba(13, 13, 17, 0.8);
	}
	.menu__list {
		row-gap: 10px;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.menu__link {
		font-size: 32px;
	}
	html.light .menu__link {
		color: rgba(13, 13, 17, 0.7);
		font-weight: 400;
	}
	.header__container {
		min-height: 70px;
	}
}
.menu-opened .menu__body,
.menu-opened .menu__body::before {
	left: 0;
}
@media (max-width: 560px) {
	.header__logo {
		width: 32px;
		overflow: hidden;
		flex: 0 0 32px;
	}
	.cart-header__text {
		display: none;
	}
	.cart-header__quantity {
		width: 33px;
		height: 40px;
		border-radius: 0;
		background: url('../img/cart.svg') center / auto 100% no-repeat;
		font-size: 13px;
		padding-top: 15px;
	}
}
@media (max-width: 358.98px) {
	.header__logo {
		display: none;
	}
	.header__cart {
		display: none;
	}
}
@media (max-width: 279.98px) {
	.header__logo {
		display: none;
	}
	.header__cart {
		display: none;
	}
}
/*-----------------------------*/
.main {
	padding-top: 160px;
	padding-bottom: 100px;
}
.main__container {
	display: flex;
	gap: 32px;
}
.main__content {
	flex: 0 1 50%;
	align-self: center;
}
.main__header {
	position: relative;
}
.main__header::before {
	content: '';
	width: 122px;
	height: 122px;
	background: url('../img/decor.svg') 0 0 / 100% no-repeat;
	position: absolute;
	top: -15px;
	left: -31px;
}
.main__text {
}
.main__actions {
}
.main__button {
}
.main__images {
	flex: 0 1 50%;
}
.images-main {
	display: flex;
	gap: 9.62%; /* 60/624 */
	justify-content: center;
}
.images-main__column {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.images-main__item {
	overflow: hidden;
	transform: scale(0);
	transition: all 1.2s ease 0s;
}
.images-main__column._active .images-main__item {
	transform: scale(1);
}
.images-main__item--1 {
	border-radius: 50% / 29%;
	transition: all 1.2s ease 0.2s;
}
.images-main__item--4 {
	border-radius: 50% / 29%;
	transition: all 1.2s ease 0.6s;
}
.images-main__item--2 {
	border-radius: 50% 50% 0 50%;
	transition: all 1.2s ease 0.8s;
}
.images-main__item--3 {
	border-radius: 50% 0 50% 50%;
	transition: all 1.2s ease 0.4s;
}
.images-main__item img {
	max-width: 100%;
}
@media (max-width: 991.98px) {
	.main {
		padding-top: 120px;
		padding-bottom: 60px;
	}
}
@media (max-width: 767.98px) {
	.main {
		padding-top: 100px;
		padding-bottom: 30px;
	}
	.main__container {
		flex-direction: column;
		/*gap: 0;*/
	}
	.main__content {
		align-self: stretch;
	}
}
/*-----------------------------*/
.clients {
	padding-top: 100px;
	padding-bottom: 70px;
}
.clients__container {
}
.clients__title {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 1.57; /* 22/14 */
	margin-bottom: 44px;
}
html.light .clients__title {
	color: rgba(13, 13, 17, 0.8);
}
.clients__slider {
	position: relative;
	text-align: center;
	/*display: flex;
	gap: 15px;
	flex-wrap: wrap;
	justify-content: space-around;*/
}
.clients__slider::after,
.clients__slider::before {
	content: '';
	position: absolute;
	background: linear-gradient(90deg, #0d0d11 8%, rgba(0, 0, 0, 0) 100%);
	top: -10px;
	height: 64px;
	width: 80px;
	z-index: 5;
}
.clients__slider::after {
	right: -10px;
	transform: rotate(180deg);
}
.clients__slider::before {
	left: -10px;
}
html.light .clients__slider::after,
html.light .clients__slider::before {
	background: linear-gradient(90deg, #f8f8f8 8%, rgba(0, 0, 0, 0) 100%);
}
.swiper-wrapper {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.clients__item img {
	max-width: 100%;
}
@media (max-width: 991.98px) {
	.clients {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.clients__title {
		margin-bottom: 30px;
	}
}
@media (max-width: 767.98px) {
	.clients {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.clients__title {
		margin-bottom: 20px;
	}
}
@media (max-width: 319.98px) {
	.clients__items {
		text-align: center;
	}
}

/*-----------------------------*/
.services {
	padding-top: 70px;
	padding-bottom: 100px;
}
.services__container {
	display: flex;
	gap: 32px;
}
.services__content {
	flex: 0 1 50%;
	align-self: center;
}
.services__header .header-main__title {
	transform: translate(-120%, 0px);
}
.header-main__title._active {
	transform: translate(0px, 0px);
	transition: all 1.5s ease 0s;
}
.services__items {
	flex: 0 1 50%;
	display: flex;
	gap: 32px;
	justify-content: center;
}
.services__column {
}
.services__column:first-child {
	padding-top: 48px;
}
.services__item {
}
.services__item:not(:last-child) {
	margin-bottom: 32px;
}
.item-service {
	border-radius: 30px;
	background-color: rgba(129, 129, 139, 0.1);
	padding: 55px 25px;
	transform: translate(200%, 0px);
	opacity: 0;
}
.services__column._active:nth-child(1) .item-service:nth-child(1){
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 1.5s ease 0s;
}
.services__column._active:nth-child(2) .item-service:nth-child(1){
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 1.5s ease 0.2s;
}
.services__column._active:nth-child(1) .item-service:nth-child(2){
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 1.5s ease 0.4s;
}
.services__column._active:nth-child(2) .item-service:nth-child(2){
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 1.5s ease 0.8s;
}
html.light .item-service {
	background-color: rgba(129, 129, 139, 0.2);
}
.item-service__icon {
}
.item-service__icon:not(:last-child) {
	margin-bottom: 16px;
}
.item-service__title {
	font-size: 19px;
	font-weight: 400;
	color: #fff;
	line-height: 1.42; /* 27/19 */
}
html.light .item-service__title {
	color: rgba(13, 13, 17, 0.8);
}
.item-service__title:not(:last-child) {
	margin-bottom: 10px;
}
.item-service__text {
}

@media (max-width: 1100px) {
	.services__container {
		flex-direction: column;
	}
	.services__header .header-main__title,
	.services__header .header-main__text {
		max-width: none;
	}
}
@media (max-width: 991.98px) {
	.service {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
@media (max-width: 767.98px) {
	.service {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
@media (max-width: 620px) {
	.services__items {
		flex-direction: column;
	}
	.services__column:first-child {
		padding-top: 0px;
	}
}
/*-----------------------------*/
.why {
	padding-top: 100px;
	padding-bottom: 100px;
}
.why__container {
	display: flex;
	column-gap: 64px;
	row-gap: 32px;
}
.why__images {
	flex: 0 1 50%;
}
.images-why {
	display: flex;
	position: relative;
	align-self: flex-end;
}
.images-why::before {
	content: '';
	width: 122px;
	height: 122px;
	background: url('../img/decor.svg') 0 0 / 100% no-repeat;
	position: absolute;
	bottom: -15px;
	left: -31px;
}
.images-why__item {
	overflow: hidden;
}
.images-why__item img {
	max-width: 100%;
}
.images-why__item--1 {
	border-radius: 90% 0 49% 49% / 50% 0 31% 31%;
	
	transform: translate(0px, 120%);
	opacity: 0;
}

.images-why__item--2 {
	align-self: flex-end;
	border-radius: 50% 50% 50% 0;
	
	transform: translate(120%, 0px);
	opacity: 0;
}
.why__images._active .images-why__item--1,
.why__images._active .images-why__item--2 {
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 1.5s ease 0.3s;
}

.why__content {
	flex: 0 1 50%;
	align-self: center;
}
.why__header {
}
@media (max-width: 991.98px) {
	.why {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
@media (max-width: 767.98px) {
	.why {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.why__container {
		flex-direction: column-reverse;
	}
}
/*-----------------------------*/
.advantages {
	padding-top: 100px;
	padding-bottom: 100px;
}
.advantages__container {
	display: flex;
	row-gap: 32px;
}
.advantages__items {
	flex: 1 1 auto;
	padding-right: 32px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 32px;
}
.advantages__item {
	padding: 40px;
	border-radius: 30px;
	background: rgba(129, 129, 139, 0.1);

	transform: translate(-120%, -120%);
	opacity: 0;
}
.advantages__container._active .advantages__item:nth-child(1) {
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 0.5s ease 0s;
}
.advantages__container._active .advantages__item:nth-child(2) {
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 1.5s ease 0s;
}
.advantages__container._active .advantages__item:nth-child(3) {
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 1.5s ease 0.4s;
}
.advantages__container._active .advantages__item:nth-child(4) {
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 1.5s ease 0.6s;
}

.advantages__value {
	font-size: 51px;
	font-weight: 500;
}
.advantages__value:not(:last-child) {
	margin-bottom: 32px;
}
.advantages__text {
	font-size: 18px;
	line-height: 1.5; /* 27/18 */
}
.advantages__image {
	align-self: flex-end;
	flex: 0 0 38%; /* 500/1310 */
	overflow: hidden;
	border-radius: 0% 68% 60% 60% / 0% 68% 50% 50%;

	transform: translate(120%, 120%);
	opacity: 0;
}
.advantages__container._active .advantages__image {
	transform: translate(0, 0);
	opacity: 1;
	transition: all 1.5s ease 0.3s;
}
.advantages__image img {
	max-width: 100%;
}
@media (max-width: 991.98px) {
	.advantages {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.advantages__items {
		padding-right: 0;
	}
	.advantages__container {
		flex-direction: column;
	}
	.advantages__image {
		align-self: center;
	}
}
@media (max-width: 767.98px) {
	.advantages {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
@media (max-width: 650px) {
	.advantages__items {
		grid-template-columns: auto;
	}
}
/*-----------------------------*/
.testimonials {
	padding-top: 100px;
	padding-bottom: 100px;
}
.testimonials__container {
}
.testimonials__header {
	margin-bottom: 64px;
}
/*-----------------------------*/
.testimonials__slider {
}

.testimonials__wrapper {
	/*display: grid;*/
	/*gap: 32px;*/
	/*grid-template-columns: repeat(3, 1fr);*/
}
.testimonials__slider .swiper-button-prev::after,
.testimonials__slider .swiper-button-next::after {
	color: #fff;
	font-size: 24px;
}
html.light .testimonials__slider .swiper-button-prev::after,
html.light .testimonials__slider .swiper-button-next::after {
	color: rgba(13, 13, 17, 0.8);
}
.testimonials__slider .swiper-pagination {
	bottom: 16px;
}
.testimonials__slider .swiper-pagination-bullet {
	background: #fff;
	width: 20px;
	height: 20px;
	line-height: 1.25; /* 20/16 */
}
html.light .testimonials__slider .swiper-pagination-bullet {
	background: rgba(13, 13, 17, 0.8);
}
.slide-testimonials {
	border-radius: 30px;
	background: rgba(129, 129, 139, 0.1);
	padding: 64px 40px;
	display: flex;
	flex-direction: column;
	gap: 32px;
	min-height: 100%;
}

/*-----------------------------*/
.slide-testimonials__user {
}
.user-testimonial {
	display: flex;
	gap: 16px;
	align-items: center;
}
.user-testimonial__avatar {
	flex: 0 0 68px;
	overflow: hidden;
}
.user-testimonial__avatar img {
	max-width: 100%;
}
.user-testimonial__avatar--1 {
	border-radius: 0 50% 50% 50%;
}
.user-testimonial__avatar--2 {
	border-radius: 50% 0 50% 50%;
}
.user-testimonial__avatar--3 {
	border-radius: 50% 50% 0 50%;
}
.user-testimonial__avatar--4 {
	border-radius: 50% 50% 50% 0;
}
.user-testimonial__body {
}
.user-testimonial__title {
	line-height: 1.5; /* 24/16 */
	color: #fff;
}
html.light .user-testimonial__title {
	color: rgba(13, 13, 17, 0.8);
}
.user-testimonial__title:not(:last-child) {
	margin-bottom: 7px;
}
.user-testimonial__company {
	font-size: 14px;
	line-height: 1.57; /* 22/14 */
}
.slide-testimonials__title {
	font-size: 32px;
	color: #fff;
	line-height: 1.4; /* 45/32 */
}
html.light .slide-testimonials__title {
	color: rgba(13, 13, 17, 0.8);
}
.slide-testimonials__text {
	flex: 1 1 auto;
	font-size: 16px;
	line-height: 1.5; /* 24/16 */
}
.slide-testimonials__rating {
}
@media (max-width: 1100px) {
	.testimonials__items {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 991.98px) {
	.testimonials {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.testimonials__header {
		margin-bottom: 40px;
	}
}
@media (max-width: 767.98px) {
	.testimonials {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.slide-testimonials {
		padding-top: 30px;
	}
	.testimonials__items {
		grid-template-columns: auto;
	}
}
/*-----------------------------*/
.blog {
	padding-top: 100px;
	padding-bottom: 200px;
}
.blog__container {
}
.blog__header {
	margin-bottom: 64px;
}
.blog__items {
	display: grid;
	gap: 48px;
	grid-template-columns: repeat(3, 1fr);
}
.blog__item {
	border-radius: 24px;
	background: rgba(129, 129, 139, 0.1);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.item-blog {
}
.item-blog__header {
	position: relative;
}
.item-blog__category {
	position: absolute;
	bottom: 0;
	border-radius: 0px 10px 0px 0px;
	background: rgba(129, 129, 139, 0.6);
	color: #fff;
	font-size: 14px;
	padding: 12px;
	line-height: 1; /* 12/12 */
	transition: border 0.3s ease 0s;
}
.item-blog__category:hover {
	border: 1px solid #ff4800;
}
.item-blog__image {
	display: block;
	position: relative;
	padding-bottom: 49.24%; /* 194/394 */
}
.item-blog__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	transition: transform 0.3s ease 0s;
}
.item-blog__image:hover img {
	transform: scale(1.05);
}
.item-blog__body {
	padding: 36px 26px;
}
.item-blog__date {
	color: rgba(129, 129, 139, 0.9);
}
.item-blog__date:not(:last-child) {
	margin-bottom: 20px;
}
.item-blog__title {
	font-size: 19px;
	line-height: 1.42; /* 27/19 */
	color: #fff;
}
html.light .item-blog__title {
	color: rgba(13, 13, 17, 0.8);
}
.item-blog__title:not(:last-child) {
	margin-bottom: 30px;
}
.item-blog__title:hover {
	color: #ff4800;
	text-decoration: underline;
}
.item-blog__link-title {
}
.item-blog__text {
}
.item-blog__text:not(:last-child) {
	margin-bottom: 21px;
}
.item-blog__link {
	color: #ff4800;
	font-size: 14px;
}
.item-blog__link:hover {
	color: #ff4800;
	text-decoration: underline;
}
@media (max-width: 1100px) {
	.blog__items {
		gap: 20px;
	}
	.item-blog__body {
		padding: 24px 14px;
	}
}
@media (max-width: 991.98px) {
	.blog {
		padding-top: 50px;
		padding-bottom: 100px;
	}
	.blog__header {
		margin-bottom: 44px;
	}
	.blog__items {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 767.98px) {
	.blog {
		padding-top: 30px;
		padding-bottom: 50px;
	}
	.blog__header {
		margin-bottom: 24px;
	}
	.blog__items {
		grid-template-columns: auto;
	}
}
/*-----------------------------*/
.start {
}
.start__container {
	transform: translate(120%, 0px);
	opacity: 0;
}
.start._active .start__container {
	transform: translate(0px, 0px);
	opacity: 1;
	transition: all 1.5s ease 0s;
}
.start__body {
	display: flex;
	column-gap: 32px;
	border-radius: 30px;
	background: rgba(129, 129, 139, 0.1);
	padding: 52px 40px;
	align-items: center;
}
.start__column {
	flex: 0 1 50%;
	text-align: center;
}
.start__title {
	font-size: 32px;
	font-weight: 400;
	line-height: 1.4; /* 45/32 */
	color: #fff;
}
html.light .start__title {
	color: rgba(13, 13, 17, 0.8);
}
.start__title:not(:last-child) {
	margin-bottom: 16px;
}

.start__text {
	max-width: 340px;
	display: inline-block;
}
.start__actions {
	display: flex;
	justify-content: center;
	column-gap: 32px;
	row-gap: 20px;
}
.start__button {
}
@media (max-width: 991.98px) {
	.start__body {
		align-items: stretch;
		flex-direction: column;
		row-gap: 30px;
	}
}
@media (max-width: 767.98px) {
	.start__text {
		font-size: 24px;
	}
}

@media (max-width: 479.98px) {
	.start__actions {
		flex-direction: column;
	}
}
/*-----------------------------*/
.footer {
}
.footer__main {
	padding-top: 160px;
	padding-bottom: 160px;
}
@media (max-width: 991.98px) {
	.footer__main {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
@media (max-width: 767.98px) {
	.footer__main {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
.main-footer {
}
.main-footer__container {
	display: grid;
	gap: 64px;
	grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
}
@media (max-width: 1100px) {
	.main-footer__container {
		gap: 44px;
		grid-template-columns: minmax(auto, 378px) auto auto;
	}
	.main-footer__column:nth-child(1) {
		grid-column: span 3;
	}
}
@media (max-width: 767.98px) {
	.main-footer__container {
		gap: 34px;
		grid-template-columns: auto auto;
	}
	.main-footer__column:nth-child(1) {
		grid-column: span 2;
	}
	.main-footer__column:nth-child(4) {
		grid-column: span 2;
	}
}
.main-footer__column {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.main-footer__logo {
}
.logo-light {
	display: none;
}
html.light .logo-light {
	display: block;
}
html.light .logo-dark {
	display: none;
}
.main-footer__text {
}
.main-footer__social {
}

.social {
	display: flex;
	gap: 16px;
}
.social__link {
	flex: 0 0 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid rgba(129, 129, 139, 0.9);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: border 0.3s ease 0s;
}
.social__link:hover {
	border: 1px solid #ff4800;
}
.main-footer__label {
	font-size: 20px;
	line-height: 1.2; /* 24/20 */
	color: #fff;
	font-weight: 500;
}
html.light .main-footer__label {
	color: rgba(13, 13, 17, 0.8);
}
.main-footer__menu {
}
.menu-footer {
}
.menu-footer__list {
	display: grid;
	gap: 24px;
}
.menu-footer__item {
}
.menu-footer__link {
	line-height: 1.4; /* 24/16 */
}
.menu-footer__link:hover {
	color: #ff4800;
	text-decoration: underline;
}
.main-footer__subscribe {
}
.subscribe {
	display: flex;
	gap: 16px;
}
@media (max-width: 479.98px) {
	.subscribe {
		flex-direction: column;
	}
}
.subscribe__input {
	width: 100%;
	height: 52px;
	border-radius: 50px;
	border: 1px solid rgba(129, 129, 139, 0.3);
	padding: 0px 30px;
	color: #fff;
	background-color: transparent;
}
.subscribe__input::placeholder {
	color: #999999;
}
.subscribe__button {
}

.footer__bottom {
}
.bottom-footer {
	border-top: 1px solid rgba(129, 129, 139, 0.2);
	padding-top: 45px;
	padding-bottom: 45px;
}
.bottom-footer__container {
}
.bottom-footer__copy {
	text-align: center;
	color: #9c9c9c;
}
@media (max-width: 767.98px) {
	.bottom-footer {
		padding-top: 26px;
		padding-bottom: 26px;
	}
}
/*------------DARK-THEME-----------------*/
.header__action{
	position: relative;
}
.header__theme {
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.header__reset {
	opacity: 0;
	visibility: hidden;
}
.header__reset.active {
	opacity: 1;
	visibility: visible;
}
.header__reset::before {
	content: 'X';
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	width: 10px;
	height: 10px;
	font-size: 9px;
	border-radius: 50%;
	line-height: 10px;
	color: #000000;
	text-align: center;
	background-color: #fff;
	font-weight: 700;
	z-index: 6;
}
html.light body {
	background-color: #f8f8f8;
	color: rgba(13, 13, 17, 0.8);
}
html.dark .header__theme {
	background: url('../img/sun.svg') 0 0 / 100% no-repeat;
}
html.light .header__theme {
	background: url('../img/moon.svg') 0 0 / 100% no-repeat;
}
